@media(min-width:980px){
  .navbar {
    position: fixed;
    background-color: #4F6D7A;
    width: 100vw;
    height: 5em;
    box-sizing: border-box;
    box-shadow: 0 0 7px 1px black;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 10vw;
    
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    list-style-type: none;
    position: static;
    margin: 0;
    padding: 0;
    background: none;
    transition: none;
    align-items: center;
    justify-content: center;
  }
  .navbar h3 {
    font-size: 2.2em;
   
    font-weight: 800;
 
    margin-left: 1.5rem;
   
    background: linear-gradient(
      189deg,
          #28112b 10%,
          #788475 170.23%
    );
   opacity: 80%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    
    
  }
  .nav-menu-items {
    display: flex;
    font-size: 1.5vw;
    gap: 6vw;
  }
  /* .nav-menu-items {
    display: flex;
    
    flex-direction: row; 
    font-size: 1.5vw;
    gap: 6vw;
   position: relative;
    align-items: center;

   justify-content: center;
  
  
  } */
  
  .nav-menu-item {
    color: white;
    text-decoration: none;
    cursor: pointer;
   
  }
  #nav-menu-contact{
    font-size:1em;
      padding: 0.5em 2em;
      border-radius: 50px;
      background: linear-gradient(189deg,
      #bf6f2e 10%,
      rgb(24, 24, 193) 120.23%);
  }
  #nav-menu-contact:hover{
    
    background:  linear-gradient(189deg,
    #e5d8ce 10%,
    rgba(24, 24, 193, 0.623) 120.23%);;
    color: black;
  }
  .nav-mob-close{
    display: none;
  }
  .nav-mob-open{
    display: none;
  }
}

@media(max-width:980px){
  .navbar{
      
     
       position: fixed;
      width: 100%;
      height: 14vh;
      background-color: #4F6D7A; 
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: -30px;
      
  }
  .navbar h3 {
    font-size: 24px;
    font-weight: 800;
    position: fixed;
    margin-left: -33px;
    background: linear-gradient(
      189deg,
          #28112b 10%,
          #788475 170.23%
    );
   opacity: 80%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
  .nav-connect{
      display: none;
  }
  .navbar h3 {
    display: block;
    position: fixed;
      left: 60px;
      top: 7vh;
  }
  .nav-mob-open{
      display: block;
      position: fixed;
      right: 40px;
      top: 7vh;
  }
  .nav-mob-close{
      display: block;
      position: relative;
       top:30px ;
     
      width: 30px; 
      left: 200px;
  }
  .nav-menu{
      position: fixed;
      flex-direction:column;
      align-items: start;
      top: 0;
      gap: 0px;
      background-color: #C5D5E4;
      font-size: 18px;
      width: 250px;
      height: 100%;
      z-index: 2;
      transition: right 0.5s;
      right: -350px;
  }
  .nav-menu-items{
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      list-style-type: none;
      align-items: start;
      padding-left: 30px;
      padding-top: 30px;
      gap: 40px;
  }
  .nav-menu-item{
    color: #34403a;
    text-decoration: none;
    
    
  }
  #nav-menu-contact{
    font-size:20px;
      padding: 10px 30px;
      padding-left: -30px;
      border-radius: 50px;
      background: linear-gradient(189deg,
      #bf6f2e 10%,
      rgb(24, 24, 193) 120.23%);
  }
  #nav-menu-contact:hover{
    background: lavender;
    color: black;
  }
}